body, html {
  overflow-x: hidden; }

body {
  font-family: helvetica, arial, sans-serif;
  font-size: 1em;
  line-height: 1.4;
  background-color: #000000;
  color: #ffffff; }

h1 {
  font-size: 3em; }

p {
  font-size: 1em;
  line-height: 1.4; }

small {
  font-size: 0.8em; }

ul {
  margin: 0;
  padding: 0; }

.page--wrapper {
  position: relative;
  z-index: 2;
  overflow-scrolling: touch;
  background-color: black;
  -webkit-transition: -webkit-transform 0.7s cubic-bezier(0.91, 0.01, 0.6, 0.99);
          transition: transform 0.7s cubic-bezier(0.91, 0.01, 0.6, 0.99);
  min-height: 100vh;
  overflow-y: auto;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden; }
  .nav--open .page--wrapper {
    -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
            transform: translateX(100%); }
  .no-js .page--wrapper {
    height: auto;
    overflow: visible; }

.bg--line-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block; }

.bg--line {
  position: absolute;
  top: 0;
  width: 1px;
  height: 100%;
  opacity: 0.15;
  background-color: #f6f930; }
  .bg--line.left {
    left: 25%; }
  .bg--line.mid {
    left: 50%; }
  .bg--line.right {
    left: 75%; }

.nav--trigger {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 50px;
  height: 50px;
  z-index: 99;
  -webkit-transition: -webkit-transform 0.5s, left 0.3s;
          transition: transform 0.5s, left 0.3s; }
  .no-touch .nav--trigger:hover {
    left: 15px; }
  .nav--open .nav--trigger {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg); }
    .nav--open .nav--trigger .menu-btn::after,
    .nav--open .nav--trigger .menu-btn::before {
      -webkit-transition: -webkit-transform 0.5s;
              transition: transform 0.5s; }
    .nav--open .nav--trigger .menu-btn::before {
      -webkit-transform: rotate(45deg) translateY(3px);
          -ms-transform: rotate(45deg) translateY(3px);
              transform: rotate(45deg) translateY(3px); }
    .nav--open .nav--trigger .menu-btn::after {
      -webkit-transform: rotate(-45deg) translateY(-3px);
          -ms-transform: rotate(-45deg) translateY(-3px);
              transform: rotate(-45deg) translateY(-3px); }

.menu-btn {
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  width: 25px;
  height: 5px; }
  .menu-btn::before, .menu-btn::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #73405b;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-transition: -webkit-transform 0.7s;
            transition: transform 0.7s; }
  .menu-btn::before {
    -webkit-transform-origin: right top;
        -ms-transform-origin: right top;
            transform-origin: right top;
    -webkit-transform: translateY(-6px);
        -ms-transform: translateY(-6px);
            transform: translateY(-6px); }
  .menu-btn::after {
    -webkit-transform-origin: right bottom;
        -ms-transform-origin: right bottom;
            transform-origin: right bottom;
    -webkit-transform: translateY(6px);
        -ms-transform: translateY(6px);
            transform: translateY(6px); }

.nav--wrapper {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #000000;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyYzBiMWMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #000000), color-stop(100%, #2c0b1c));
  background: -webkit-linear-gradient(left, #000000 0%, #2c0b1c 100%);
  background: linear-gradient(to right, #000000 0%, #2c0b1c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#2c0b1c',GradientType=1 );
  visibility: hidden;
  -webkit-transition: visibility 0s 0.7s;
          transition: visibility 0s 0.7s; }
  .nav--open .nav--wrapper {
    visibility: visible;
    -webkit-transition: visibility 0s 0s;
            transition: visibility 0s 0s; }
  .no-js .nav--wrapper {
    position: static;
    visibility: visible; }

.nav--content {
  height: 100%;
  overflow-y: auto;
  overflow-scrolling: touch;
  -webkit-transition: -webkit-transform 0.7s cubic-bezier(0.86, 0.01, 0.77, 0.78);
          transition: transform 0.7s cubic-bezier(0.86, 0.01, 0.77, 0.78);
  -webkit-transform: translateZ(0) translateX(-50%);
          transform: translateZ(0) translateX(-50%);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden; }
  .nav--open .nav--content {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
    -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.82, 0.01, 0.77, 0.78);
            transition: transform 0.5s cubic-bezier(0.82, 0.01, 0.77, 0.78); }
  .no-js .nav--content {
    height: auto;
    overflow: visible;
    padding: 100px 5%;
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0); }

.half-block {
  position: relative;
  width: 50%;
  float: left; }

.intro--wrap {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden; }
  .no-touch .intro--wrap {
    -webkit-perspective: 1000px;
            perspective: 1000px; }
  .intro--wrap::before {
    content: "web";
    display: none; }
  .touch .intro--wrap::before {
    content: "mobile"; }

.intro--rotating-wrap {
  position: relative;
  width: 100%;
  height: 100%; }
  .no-touch .intro--rotating-wrap {
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); }
    .no-touch .intro--rotating-wrap.is-absolute {
      position: absolute; }
    .no-touch .intro--rotating-wrap .img-wrap {
      -webkit-transform: translate3d(0, 0, -200px);
              transform: translate3d(0, 0, -200px);
      opacity: 0.2; }
    .no-touch .intro--rotating-wrap .intro--white-wrap:nth-child(2) {
      -webkit-transform: translate3d(0, 0, 100px);
              transform: translate3d(0, 0, 100px); }
    .no-touch .intro--rotating-wrap .intro--white-wrap:nth-child(3) {
      -webkit-transform: translate3d(0, 0, 50px);
              transform: translate3d(0, 0, 50px); }
    .no-touch .intro--rotating-wrap .intro--white-wrap:first-child {
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0); }
    .no-touch .intro--rotating-wrap .intro--white-wrap:nth-child(4) {
      -webkit-transform: translate3d(0, 0, -50px);
              transform: translate3d(0, 0, -50px); }
    .no-touch .intro--rotating-wrap .intro--white-wrap:nth-child(5) {
      -webkit-transform: translate3d(0, 0, -100px);
              transform: translate3d(0, 0, -100px); }
    .no-touch .intro--rotating-wrap .intro--white-wrap:nth-child(6) {
      -webkit-transform: translate3d(0, 0, -150px);
              transform: translate3d(0, 0, -150px); }
    .no-touch .intro--rotating-wrap .intro--white-wrap:nth-child(7) {
      -webkit-transform: translate3d(0, 0, -200px);
              transform: translate3d(0, 0, -200px); }
    .no-touch .intro--rotating-wrap .intro--white-wrap:nth-child(8) {
      -webkit-transform: translate3d(0, 0, -250px);
              transform: translate3d(0, 0, -250px); }
    .no-touch .intro--rotating-wrap .intro--white-wrap:nth-child(9) {
      -webkit-transform: translate3d(0, 0, -300px);
              transform: translate3d(0, 0, -300px); }
    .no-touch .intro--rotating-wrap .intro--white-wrap:nth-child(10) {
      -webkit-transform: translate3d(0, 0, -350px);
              transform: translate3d(0, 0, -350px);
      opacity: 0.15; }
  .no-touch.no-preserve-3d .intro--rotating-wrap {
    position: relative; }
  .intro--rotating-wrap .intro--img-wrap {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    display: none; }
    .intro--rotating-wrap .intro--img-wrap img {
      display: block;
      width: 100%;
      -webkit-backface-visibility: hidden;
              backface-visibility: hidden;
      background-color: rgba(255, 255, 255, 0.01); }
  .intro--rotating-wrap .intro--white-wrap {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    background-color: rgba(50, 50, 50, 0.5);
    background: url("../../dist/images/layout/megan2.jpg") no-repeat center center fixed;
    background-size: cover;
    opacity: 0.05; }

.intro--title-wrap {
  text-align: center;
  font-family: helvetica;
  font-weight: 800;
  font-size: 2.4em;
  z-index: 4;
  text-transform: uppercase;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: translate3d(0, 0, 100px);
          transform: translate3d(0, 0, 100px);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 400px;
  height: 200px;
  margin: auto; }
  .intro--title-wrap span {
    display: inline-block; }
  .intro--title-wrap .front {
    -webkit-transform: translate3d(0, 0, 6px);
            transform: translate3d(0, 0, 6px); }
  .intro--title-wrap .back {
    -webkit-transform: translate3d(0, 0, -6px);
            transform: translate3d(0, 0, -6px); }

.intro--enter {
  position: absolute;
  top: 70%;
  left: 50%;
  width: 100px;
  height: 100px;
  margin-left: -50px;
  text-align: center;
  text-decoration: none; }

.intro--enter-shape {
  width: 20px;
  height: 20px;
  display: block;
  background-color: #f6f930;
  margin-left: 40px; }

.intro--enter-text {
  opacity: 0; }
