// GALLERY
// -----------------


// ------------- Categories close button

.zoom--exit
  +position(absolute, 40px, 30px)
  +size(120px, 80px)
  text-align: left
  text-decoration: none
  z-index: 11
  cursor: pointer
  transform: translateY(-200px)
  opacity: 0
  transition: all 500ms
  +no-select

  +max-screen($small)
    top: 20px
    right: 20px

  &:hover
    .zoom--exit-shape
      &:before
        transform: rotate(0)
        background-color: $yellow
      &:after
        transform: rotate(0)
        background-color: $yellow

.zoom--exit-text
  +font($white,'aktivmd',1em)
  padding-left: 5px
  white-space: nowrap
  text-transform: uppercase
  line-height: 80px

.zoom--exit-shape
  +size(20px, 0)
  display: block
  +position(absolute, 37px, 20px)

  &:before
    transition: all 400ms ease
    content: ''
    +size(30px, 4px)
    display: block
    background-color: $ltMaroon
    +position(absolute)
    transform: rotate(45deg)
  &:after
    transition: all 400ms ease
    content: ''
    +size(30px, 4px)
    display: block
    background-color: $ltMaroon
    +position(absolute)
    transform: rotate(-45deg)



// ------------- Everything Else


.gallery--wrap
  +square(100%)
  +position(absolute, 0, null, null, 0)
  overflow: hidden

  &.zoomed-out
    .slick-list
      transform: scale(0.25)
      +max-screen($small)
        transform: scale(0.5)
    .slick-dots
      opacity: 1
      transform: translate(-50%,0)
    .gallery--side
      opacity: 0
    .zoom--content
      opacity: 1
      transform: translateY(0)
    .zoom--exit
      opacity: 1
      transform: translateY(0)
    // .gallery--nav-btn
    //   //transform: translateY(100px)
    // .zoom--exit

    // .gallery--side
    //   opacity: 0
    .gallery--image-wrap
      border-color: rgba($maroon,1)
    .gallery--image
      transform: scale(2)
    .gallery--slide
      transform: scale(0.7)
      &.slick-active
        transform: scale(1)
        .gallery--image-wrap
          border-color: rgba($yellow,1)

.gallery--side
  display: table
  +position(absolute, 0, null, 0)
  +size(90px,100%)
  padding: 20px
  z-index: 6
  transition: opacity 500ms
  +no-select

  &.gallery--right
    right: 0
  &.gallery--left
    left: 0

.gallery--mid
  display: table-cell
  vertical-align: middle
  white-space: nowrap
  width: 50px
  +no-select

.gallery--copyright
  span
    transform: rotate(-90deg)
    display: block
    position: absolute
    left: -30px
    font-size: 0.8rem
    letter-spacing: 1px

.gallery--nav-btn
  +position(absolute, 20px)
  +square(50px)
  text-align: center
  cursor: pointer

  &:hover
    .thumbs-btn:before
      transform: translateX(25px)
      border-color: $yellow
    .thumbs-btn:after
      transform: translateX(-25px)
      border-color: $yellow

.thumbs-btn
  +position(relative, 15px)
  +size(50px, 30px)

  &:before
    display: inline-block
    content: ''
    +square(20px)
    border: 3px $ltMaroon solid
    vertical-align: top
    box-sizing: border-box
    transition: all 300ms
  &:after
    display: inline-block
    content: ''
    +square(20px)
    border: 3px $ltMaroon solid
    vertical-align: top
    box-sizing: border-box
    margin-left: 5px
    transition: all 300ms

.gallery--details-wrap
  transform: rotate(90deg)
  display: block
  font-size: 0.8rem
  letter-spacing: 1px
  position: absolute

  &.gallery--all
    left: -6px

.gallery--arrow
  +position(absolute,null,null,20px)
  +square(50px)
  cursor: pointer
  +no-select
  transition: opacity 300ms

  &:hover
    .top-line
      background-color: $yellow
    .middle-line
      background-color: $yellow
    .bottom-line
      background-color: $yellow
  &.slick-disabled
    opacity: 0.6
    &:hover
      .arrow-left
        transform: translateX(0)
      .arrow-right
        transform: translateX(0)
      .top-line
        background-color: $ltMaroon
      .middle-line
        background-color: $ltMaroon
      .bottom-line
        background-color: $ltMaroon


.gallery--previous
  left: 20px
  &:hover
    .arrow-left
      transform: translateX(15px)

.gallery--next
  right: 20px
  &:hover
    .arrow-right
      transform: translateX(-15px)


.arrow-left
  +position(relative,15px)
  +size(50px,19px)
  display: block
  transition: transform 300ms

  .top-line
    +position(absolute, 0, null, null, 4px)
    transform: rotate(45deg)
  .middle-line
    +position(absolute, 8px, null, null, 0)
  .bottom-line
    +position(absolute, null, null, 0, 4px)
    transform: rotate(-45deg)

.arrow-right
  +position(relative,15px)
  +size(50px,19px)
  display: block
  transition: transform 300ms

  .top-line
    +position(absolute, 0, 4px)
    transform: rotate(-45deg)
  .middle-line
    +position(absolute, 8px, 0)
  .bottom-line
    +position(absolute, null, 4px, 0)
    transform: rotate(45deg)

.top-line
  display: block
  +size(3px, 10px)
  background-color: $ltMaroon
  transition: background-color 300ms

.middle-line
  display: block
  +size(50px,3px)
  background-color: $ltMaroon
  transition: background-color 300ms

.bottom-line
  display: block
  +size(3px, 10px)
  background-color: $ltMaroon
  transition: background-color 300ms

.zoom--content
  +position(absolute,20px,null,null,50px)
  opacity: 0
  transform: translateY(-200px)
  transition: all 500ms
  z-index: 6
  +no-select

  +max-screen($small)
    left: 20px

  a
    color: $white
    text-decoration: underline
    cursor: pointer
    transition: color 300ms
    letter-spacing: 1px
    &:hover
      color: $ltMaroon

.zoom--title
  h1
    display: inline-block
    font-size: 5rem

    +max-screen($small)
      font-size: 3rem



.zoom--title-rule
  +position(relative,-20px)
  +size(150px,8px)
  background-color: $yellow
  display: inline-block
  margin-left: 15px

  +max-screen($small)
    +size(50px,6px)
    top: -12px
    margin-left: 5px


// -------------------- SLIDER STUFF

.gallery--imgs
  +position(relative)
  +square(100%)
  z-index: 5
  //padding: 20px 90px

.gallery--slider-wrap
  +square(100%)

.slick-list
  height: 100%
  transform: scale(1)
  transition: transform 500ms

.slick-track
  height: 100%
  cursor: move
  cursor: grab
  cursor: -moz-grab
  cursor: -webkit-grab

  &:active
    cursor: grabbing
    cursor: -moz-grabbing
    cursor: -webkit-grabbing

.slick-dots
  +position(absolute,null,null,10%,50%)
  +size(100%,50px)
  transform: translate(-50%,200px)
  opacity: 0
  transition: all 400ms
  text-align: center
  white-space: nowrap

  li
    +size(50px, 3px)
    display: inline-block
    padding: 20px 10px
    transition: all 300ms
    cursor: pointer

    +max-screen($small)
      +size(15px, 2px)
      padding: 15px 3px

    &.slick-active
      transform: scaleY(5)
      .gallery--pager
        background-color: $yellow

.gallery--pager
  +square(100%)
  display: block
  background-color: $ltMaroon

.gallery--slide
  +square(100%)
  padding: 20px 90px
  +no-select
  outline: none
  transition: transform 500ms

  +max-screen($small)
    padding: 80px 10px

.gallery--image-wrap
  +square(100%)
  display: block
  border: 8px rgba($black,0) solid
  transition: border-color 500ms
  overflow: hidden
  backface-visibility: hidden
  box-sizing: border-box
  //background-color: $black

.gallery--image
  +square(100%)
  display: block
  transition: transform 500ms

  &.analise
    background: url('#{$imagePath}gallery/analise.jpg') no-repeat center center
    background-size: contain
  &.assasin
    background: url('#{$imagePath}gallery/assasin.jpg') no-repeat center center
    background-size: contain
  &.basin
    background: url('#{$imagePath}gallery/basin.jpg') no-repeat center center
    background-size: contain
  &.fish
    background: url('#{$imagePath}gallery/fish.jpg') no-repeat center center
    background-size: contain
  &.guiness
    background: url('#{$imagePath}gallery/guiness.jpg') no-repeat center center
    background-size: contain







