// GALLERY
// -----------------


// ------------- Categories close button

.zoom--exit
  +position(absolute, 40px, 30px)
  +size(120px, 80px)
  text-align: left
  text-decoration: none
  z-index: 11
  cursor: pointer
  transform: translateY(-200px)
  opacity: 0
  transition: all 500ms
  +no-select

  +max-screen($small)
    top: 20px
    right: 20px

  &:hover
    .zoom--exit-shape
      &:before
        transform: rotate(0)
        background-color: $yellow
      &:after
        transform: rotate(0)
        background-color: $yellow

.zoom--exit-text
  +font($white,'aktivmd',1em)
  padding-left: 5px
  white-space: nowrap
  text-transform: uppercase
  line-height: 80px

  +max-screen($medium)
    display: none

.zoom--exit-shape
  +size(20px, 0)
  display: block
  +position(absolute, 37px, 20px)

  +max-screen($small)
    top: 26px

  &:before
    transition: all 400ms ease
    content: ''
    +size(30px, 4px)
    display: block
    background-color: $ltMaroon
    +position(absolute)
    transform: rotate(45deg)
  &:after
    transition: all 400ms ease
    content: ''
    +size(30px, 4px)
    display: block
    background-color: $ltMaroon
    +position(absolute)
    transform: rotate(-45deg)



// ------------- Everything Else


.gallery--wrap
  +square(100%)
  +position(absolute, 0, null, null, 0)
  overflow: hidden

  .csstransforms &

    &.zoomed-out
      .slick-list
        transform: scale(0.25)
        +max-screen($small)
          transform: scale(0.5)
      .slick-dots
        opacity: 1
        transform: translate(-50%,0)
      .gallery--side
        opacity: 0
      .zoom--content
        opacity: 1
        transform: translateY(0)
      .zoom--exit
        opacity: 1
        transform: translateY(0)
      .gallery--image-wrap
        border-color: rgba($maroon,1)
      .gallery--image
        transform: scale(2)
      .gallery--slide
        transform: scale(0.7)
        &.slick-active
          transform: scale(1)
          .gallery--image-wrap
            border-color: rgba($yellow,1)

.gallery--side
  display: table
  +position(absolute, 0, null, 0)
  +size(90px,100%)
  padding: 20px
  z-index: 6
  transition: opacity 500ms
  +no-select

  &.gallery--right
    right: 0
  &.gallery--left
    left: 0

.gallery--mid
  display: table-cell
  vertical-align: middle
  white-space: nowrap
  width: 50px
  +no-select

.gallery--copyright
  span
    transform: rotate(-90deg)
    display: block
    position: absolute
    left: -30px
    font-size: 0.8rem
    letter-spacing: 1px

.gallery--nav-btn
  +position(absolute, 20px)
  +square(50px)
  text-align: center
  cursor: pointer
  display: none

  .csstransforms &
    display: block

  &:hover
    .thumbs-btn:before
      transform: translateX(25px)
      border-color: $yellow
    .thumbs-btn:after
      transform: translateX(-25px)
      border-color: $yellow

.thumbs-btn
  +position(relative, 15px)
  +size(50px, 30px)

  &:before
    display: inline-block
    content: ''
    +square(20px)
    border: 3px $ltMaroon solid
    vertical-align: top
    box-sizing: border-box
    transition: all 300ms
  &:after
    display: inline-block
    content: ''
    +square(20px)
    border: 3px $ltMaroon solid
    vertical-align: top
    box-sizing: border-box
    margin-left: 5px
    transition: all 300ms

.gallery--details-wrap
  transform: rotate(90deg)
  display: block
  font-size: 0.8rem
  letter-spacing: 1px
  position: absolute

  &.gallery--all
    left: -6px
  &.gallery--studio
    left: -20px
  &.gallery--travel
    left: -17px
  &.gallery--landscapes
    left: -37px

.gallery--arrow
  +position(absolute,null,null,20px)
  +square(50px)
  cursor: pointer
  +no-select
  transition: opacity 300ms

  &:hover
    .top-line
      background-color: $yellow
    .middle-line
      background-color: $yellow
    .bottom-line
      background-color: $yellow
  &.slick-disabled
    opacity: 0.6
    &:hover
      .arrow-left
        transform: translateX(0)
      .arrow-right
        transform: translateX(0)
      .top-line
        background-color: $ltMaroon
      .middle-line
        background-color: $ltMaroon
      .bottom-line
        background-color: $ltMaroon


.gallery--previous
  left: 20px
  &:hover
    .arrow-left
      transform: translateX(15px)

.gallery--next
  right: 20px
  &:hover
    .arrow-right
      transform: translateX(-15px)


.arrow-left
  +position(relative,15px)
  +size(50px,19px)
  display: block
  transition: transform 300ms

  .top-line
    +position(absolute, 0, null, null, 4px)
    transform: rotate(45deg)
  .middle-line
    +position(absolute, 8px, null, null, 0)
  .bottom-line
    +position(absolute, null, null, 0, 4px)
    transform: rotate(-45deg)

.arrow-right
  +position(relative,15px)
  +size(50px,19px)
  display: block
  transition: transform 300ms

  .top-line
    +position(absolute, 0, 4px)
    transform: rotate(-45deg)
  .middle-line
    +position(absolute, 8px, 0)
  .bottom-line
    +position(absolute, null, 4px, 0)
    transform: rotate(45deg)

.top-line
  display: block
  +size(3px, 10px)
  background-color: $ltMaroon
  transition: background-color 300ms

.middle-line
  display: block
  +size(50px,3px)
  background-color: $ltMaroon
  transition: background-color 300ms

.bottom-line
  display: block
  +size(3px, 10px)
  background-color: $ltMaroon
  transition: background-color 300ms

.zoom--content
  +position(absolute,20px,null,null,50px)
  opacity: 0
  transform: translateY(-200px)
  transition: all 500ms
  z-index: 6
  +no-select

  +max-screen($small)
    left: 20px

  a
    color: $white
    cursor: pointer
    transition: color 300ms
    letter-spacing: 1px
    &:hover
      color: $ltMaroon

.zoom--title
  h1
    display: inline-block
    font-size: 5rem

    +max-screen($small)
      font-size: 2.4rem



.zoom--title-rule
  +position(relative,-20px)
  +size(150px,8px)
  background-color: $yellow
  display: inline-block
  margin-left: 15px

  +max-screen($small)
    display: none


// -------------------- SLIDER STUFF

.gallery--imgs
  +position(relative)
  +square(100%)
  z-index: 5
  //padding: 20px 90px

.gallery--slider-wrap
  +square(100%)

.slick-list
  height: 100%
  transform: scale(1)
  transition: transform 500ms

.slick-track
  height: 100%
  cursor: move
  cursor: grab
  cursor: -moz-grab
  cursor: -webkit-grab

  &:active
    cursor: grabbing
    cursor: -moz-grabbing
    cursor: -webkit-grabbing

.slick-dots
  +position(absolute,null,null,15%,50%)
  +size(100%,60px)
  transform: translate(-50%,200px)
  opacity: 0
  transition: all 400ms
  text-align: center
  white-space: nowrap

  +max-screen($small)
    bottom: 8%

  li
    +size(2px, 20px)
    display: inline-block
    padding: 20px 5px
    transition: all 300ms
    cursor: pointer

    +max-screen($small)
      +size(2px, 20px)
      padding: 15px 3px

    &.slick-active
      transform: scaleY(5)
      +max-screen($small)
        transform: scaleY(3.6)
      .gallery--pager
        background-color: $yellow

.gallery--pager
  +square(100%)
  display: block
  background-color: $ltMaroon

.gallery--slide
  +square(100%)
  padding: 20px 80px
  +no-select
  outline: none
  transition: transform 500ms

  +min-screen($small + 1)
    transform: translateZ(0)

  +max-screen($small)
    padding: 80px 10px

.gallery--image-wrap
  +square(100%)
  display: block
  border: 8px rgba($black,0) solid
  transition: border-color 500ms
  overflow: hidden
  box-sizing: border-box

  +min-screen($small + 1)
    backface-visibility: hidden

.gallery--image
  +square(100%)
  display: block
  transition: transform 500ms

  +min-screen($small + 1)
    transform: translateZ(0)


  &.s01
    background: url('#{$imagePath}gallery/s01_man.jpg') no-repeat center center
    background-size: contain
  &.s02
    background: url('#{$imagePath}gallery/s02_women.jpg') no-repeat center center
    background-size: contain
  &.s03
    background: url('#{$imagePath}gallery/s03_guiness.jpg') no-repeat center center
    background-size: contain
  &.s04
    background: url('#{$imagePath}gallery/s04_man.jpg') no-repeat center center
    background-size: contain
  &.s05
    background: url('#{$imagePath}gallery/s05_women.jpg') no-repeat center center
    background-size: contain
  &.s06
    background: url('#{$imagePath}gallery/s06_wine.jpg') no-repeat center center
    background-size: contain
  &.s07
    background: url('#{$imagePath}gallery/s07_stephen.jpg') no-repeat center center
    background-size: contain
  &.s08
    background: url('#{$imagePath}gallery/s08_jonah.jpg') no-repeat center center
    background-size: contain
  &.s09
    background: url('#{$imagePath}gallery/s09_resturant.jpg') no-repeat center center
    background-size: contain
  &.s10
    background: url('#{$imagePath}gallery/s10_temple.jpg') no-repeat center center
    background-size: contain
  &.s11
    background: url('#{$imagePath}gallery/s11_coke.jpg') no-repeat center center
    background-size: contain
  &.s12
    background: url('#{$imagePath}gallery/s12_analise.jpg') no-repeat center center
    background-size: contain
  &.s13
    background: url('#{$imagePath}gallery/s13_stonehenge.jpg') no-repeat center center
    background-size: contain
  &.s14
    background: url('#{$imagePath}gallery/s14_jonah2.jpg') no-repeat center center
    background-size: contain
  &.s15
    background: url('#{$imagePath}gallery/s15_fusion.jpg') no-repeat center center
    background-size: contain
  &.s16
    background: url('#{$imagePath}gallery/s16_golf.jpg') no-repeat center center
    background-size: contain
  &.s17
    background: url('#{$imagePath}gallery/s17_cut.jpg') no-repeat center center
    background-size: contain
  &.s18
    background: url('#{$imagePath}gallery/s18_stella.jpg') no-repeat center center
    background-size: contain
  &.s19
    background: url('#{$imagePath}gallery/s19_mangle.jpg') no-repeat center center
    background-size: contain
  &.s20
    background: url('#{$imagePath}gallery/s20_nikki.jpg') no-repeat center center
    background-size: contain
  &.s21
    background: url('#{$imagePath}gallery/s21_aimee.jpg') no-repeat center center
    background-size: contain
  &.s22
    background: url('#{$imagePath}gallery/s22_nikki2.jpg') no-repeat center center
    background-size: contain
  &.s23
    background: url('#{$imagePath}gallery/s23_fun.jpg') no-repeat center center
    background-size: contain
  &.l01
    background: url('#{$imagePath}gallery/l01_sheep.jpg') no-repeat center center
    background-size: contain
  &.l02
    background: url('#{$imagePath}gallery/l02_basin.jpg') no-repeat center center
    background-size: contain
  &.l03
    background: url('#{$imagePath}gallery/l03_shed.jpg') no-repeat center center
    background-size: contain
  &.l04
    background: url('#{$imagePath}gallery/l04_remarkables.jpg') no-repeat center center
    background-size: contain
  &.l05
    background: url('#{$imagePath}gallery/l05_wood.jpg') no-repeat center center
    background-size: contain
  &.l06
    background: url('#{$imagePath}gallery/l06_canterbury.jpg') no-repeat center center
    background-size: contain
  &.l07
    background: url('#{$imagePath}gallery/l07_milford.jpg') no-repeat center center
    background-size: contain
  &.t01
    background: url('#{$imagePath}gallery/t01_assasin.jpg') no-repeat center center
    background-size: contain
  &.t02
    background: url('#{$imagePath}gallery/t02_train.jpg') no-repeat center center
    background-size: contain
  &.t03
    background: url('#{$imagePath}gallery/t03_sandune.jpg') no-repeat center center
    background-size: contain
  &.t04
    background: url('#{$imagePath}gallery/t04_oldlady.jpg') no-repeat center center
    background-size: contain
  &.t05
    background: url('#{$imagePath}gallery/t05_fish.jpg') no-repeat center center
    background-size: contain
  &.t06
    background: url('#{$imagePath}gallery/t06_haunted.jpg') no-repeat center center
    background-size: contain
  &.t07
    background: url('#{$imagePath}gallery/t07_boat.jpg') no-repeat center center
    background-size: contain







