.intro-wrap
    position: relative
    width: 100%

.text-wrap
    position: relative
    +size(100%,100%)
    //overflow: hidden
    perspective: 2000px

.title-wrap
    //position: relative
    text-align: left
    font-family: helvetica
    font-weight: 100
    font-size: 2.5em
    text-transform: uppercase
    transition: all 400ms linear
    transform-style: preserve-3d
    +center(300px,200px)

    &:hover
        transform: rotate3d(1,0,0,55deg)
    span
        display: inline-block
        transition: all 400ms linear
    .front
        transform: translate3d(0,0,8px)
    .back
        transform: translate3d(0,0,-8px)