// INTRO
// -----------------

.intro--wrap
    position: relative
    +square(100%)
    overflow: hidden
    .no-touch &
        perspective: 1000px
    &::before
        // never visible - this is used in jQuery to check the device type
        content: 'web'
        display: none
    .touch &::before
        // never visible - this is used in jQuery to check the device type
        content: 'mobile'

.intro--rotating-wrap
    position: relative
    +size(100%,100%)
    .no-touch &
        transform-style: preserve-3d
        transform: translate3d(0,0,0)
        &.is-absolute
            position: absolute
        .img-wrap
            transform: translate3d(0,0,-200px)
            opacity: 0.2

        .intro--white-wrap:nth-child(2)
            transform: translate3d(0,0,100px)
        .intro--white-wrap:nth-child(3)
            transform: translate3d(0,0,50px)
        .intro--white-wrap:first-child
            transform: translate3d(0,0,0)
        .intro--white-wrap:nth-child(4)
            transform: translate3d(0,0,-50px)
        .intro--white-wrap:nth-child(5)
            transform: translate3d(0,0,-100px)
        .intro--white-wrap:nth-child(6)
            transform: translate3d(0,0,-150px)
        .intro--white-wrap:nth-child(7)
            transform: translate3d(0,0,-200px)
        .intro--white-wrap:nth-child(8)
            transform: translate3d(0,0,-250px)
        .intro--white-wrap:nth-child(9)
            transform: translate3d(0,0,-300px)
        .intro--white-wrap:nth-child(10)
            transform: translate3d(0,0,-350px)
            opacity: 0.15

    .no-touch.no-preserve-3d &
        // we target browsers that don't support preserve-3d and show just a standard image - no effect visible
        position: relative

    .intro--img-wrap
        +center(100%,100%)
        backface-visibility: hidden
        display: none
        img
            display: block
            width: 100%
            backface-visibility: hidden
            // fixes a Firefox bug - images not correctly rendered
            background-color: rgba(#FFF, .01)

    .intro--white-wrap
        +center(100%,100%)
        background-color: rgba(50,50,50,0.5)
        background: url('#{$imagePath}layout/megan2.jpg') no-repeat center center fixed
        background-size: cover
        opacity: 0.05

.intro--title-wrap
    text-align: center
    line-height: 1.1
    font-size: 3.6rem
    text-transform: uppercase
    transform-style: preserve-3d
    transform: translate3d(0,0,100px)
    +center(600px,150px)

    span
        margin-left: -3px

    +max-screen($small)
        font-size: 2rem
        width: 100%


.intro--enter
    +position(absolute, 70%, null, null, 50%)
    +size(200px, 60px)
    margin-left: -100px
    text-align: center
    text-decoration: none
    z-index: 11

    .no-touch &
        &:hover
            .intro--enter-shape
                transform: scale(7, 0.05)
            .intro--enter-text
                opacity: 1
                transform: translateY(0)
    .touch
        .intro--enter-shape
            transform: scale(7, 0.05)
        .intro--enter-text
            opacity: 1
            transform: translateY(0)

    +max-screen($small)
        .intro--enter-shape
            transform: scale(7, 0.05)
        .intro--enter-text
            opacity: 1
            transform: translateY(0)


.intro--enter-shape
    +square(20px)
    display: block
    background-color: $yellow
    margin-left: 90px
    transition: transform 300ms ease

.intro--enter-text
    opacity: 0
    transform: translateY(30px)
    transition: all 400ms ease
    +font($white,'aktivbd',1.2em)
    white-space: nowrap
    text-transform: uppercase






