// GLOBALS
// -----------------

body
    font-family: helvetica, arial, sans-serif
    font-size: 1em
    line-height: 1.4
    background-color: #000000
    color: #ffffff

h1 
    font-size: 3em  

p
    font-size: 1em
    line-height: 1.4

small 
    font-size: 0.8em
