// GLOBALS
// -----------------

body, html
    // prevent horizontal scrolling
    overflow-x: hidden
    background-color: #000000
    text-rendering: optimizeLegibility

div
    box-sizing: border-box


body
    font-family: 'aktivth',helvetica, arial, sans-serif
    font-size: 1em
    line-height: 1.4
    background-color: #000000
    color: #ffffff

h1
    font-size: 3em
    margin: 0

h3
    font-weight: 300
    margin: 0
    font-size: 1.1em
    line-height: 1.25

p
    margin: 0
    font-size: 1em
    line-height: 1.4

small
    font-size: 0.8em

ul
    margin: 0
    padding: 0

a
    text-decoration: none


.page--wrapper
    position: relative
    z-index: 2
    -webkit-overflow-scrolling: touch
    overflow-scrolling: touch
    background-color: black
    transition: transform $nav-animation-duration cubic-bezier(0.645, 0.045, 0.355, 1.000)

    // fix bug on iOS
    min-height: 100vh
    overflow-y: auto

    // Force Hardware Acceleration in WebKit -- might be bottlenecking with homepage perspective
    transform: translateZ(0)
    backface-visibility: hidden

    .nav--open &
        transform: translateX(100%)

    .no-js &
        height: auto
        overflow: visible

.bg--line-wrap
    +position(absolute, 0, null, null, 0)
    +square(100%)
    display: block

.bg--line
    +position(absolute, 0)
    +size(1px, 100%)
    opacity: 0.15
    background-color: $yellow

    &.left
        left: 25%
    &.mid
        left: 50%
    &.right
        left: 75%



