// NAVIGATION
// -----------------

.nav--trigger
	+position(fixed, 20px, null, null, 20px)
	+square(50px)
	z-index: 99
	transition: all 0.5s
	transform: translateZ(0)

	.no-touch &:hover
		.menu-btn::after,
		.menu-btn::before
			background-color: $yellow
		.menu-btn::before
			transform: translateY(-10px)
		.menu-btn::after
			transform: translateY(10px)


	.nav--open &
		// rotate trigger when navigation becomes visible
		transform: rotate(180deg)
		.menu-btn::after,
		.menu-btn::before
			// animate arrow --> from hamburger to arrow
			transition: all 0.5s
		.menu-btn::before
			transform: rotate(45deg) translateY(3px)
		.menu-btn::after
			transform: rotate(-45deg) translateY(-3px)

		.no-touch &:hover
			left: 10px
			.menu-btn::after,
			.menu-btn::before
				background-color: $ltMaroon
			.menu-btn::before
				transform: rotate(45deg) translateY(3px)
			.menu-btn::after
				transform: rotate(-45deg) translateY(-3px)

.menu-btn
	position: absolute
	left: 50%
	top: 50%
	bottom: auto
	right: auto
	transform: translateX(-50%) translateY(-50%)
	+size(32px, 5px)
	//transition: width 0.3s

	&::before, &::after
		// upper and lower lines of the menu icon
		content: ''
		+position(absolute, 0, 0, null, null)
		+square(100%)
		background-color: $ltMaroon

		// Hardware Acceleration in WebKit -- might be bottlenecking with homepage perspective
		transform: translateZ(0)
		backface-visibility: hidden

		transition: all 0.5s

	&::before
		transform-origin: right top
		transform: translateY(-6px)

	&::after
		transform-origin: right bottom
		transform: translateY(6px)

.nav--wrapper
	position: fixed
	z-index: 1
	top: 0
	left: 0
	height: 100%
	width: 100%
	background: $white
	visibility: hidden
	overflow-y: scroll
	transition: visibility 0s $nav-animation-duration

	.nav--open &
		visibility: visible
		transition: visibility 0s 0s

	.no-js &
		position: static
		visibility: visible

.nav--content
	// all navigation content
	height: 100%
	min-height: 800px
	overflow-y: auto
	// -webkit-overflow-scrolling: touch
	// overflow-scrolling: touch
	transition: transform $nav-animation-duration cubic-bezier(0.645, 0.045, 0.355, 1.000)

	// Force Hardware Acceleration in WebKit  -- if bottlenecking with homepage perspective
	// remove translateZ(0) below
	transform: translateZ(0) translateX(-50%)
	backface-visibility: hidden
	position: relative

	.nav--open &
		transform: translateX(0)
		transition: transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1.000)

	.no-js &
		height: auto
		overflow: visible
		padding: 100px 5%
		transform: translateX(0)

.half-block
	position: relative
	width: 50%
	display: inline-block
	padding-top: 100px
	vertical-align: top

	&.nav--left
		padding-left: 25%
	&.nav--right
		padding-right: 30px

	&:nth-child(3), &:nth-child(4)
		padding-top: 40px

	+max-screen($small)
		width: 100%
		padding: 20px 30px
		&:first-child
			padding: 100px 30px 10px
		&:nth-child(2)
			display: none
		&:nth-child(3), &:nth-child(4)
			padding-top: 20px
		&.nav--left, &.nav--right
			padding-right: 30px
			padding-left: 30px
		&.home-link
			+position(absolute,0,0)
			text-align: right
			text-decoration: none

.nav--home-btn
	font-size: 1.1em
	font-weight: 300
	display: block

	&:hover
		&:before
			transform: scaleY(3)
			opacity: 1
			width: 60%

	&:before
		content: ""
		display: block
		+size(50%,1px)
		position: relative
		background-color: $ltMaroon
		margin: 5px 0
		transition: all 0.3s
		opacity: 0.6

		+max-screen($small)
			display: none

.nav--detail
	font-size: 1.1em
	font-weight: 300
	padding-top: 5px
	display: block

	&:first-child
		padding-top: 0

.nav--categories-wrap
	+position(absolute, null, null, 0, 0)
	+size(100%, 50%)

	+max-screen-height-width($large,$medium)
		position: relative
	+max-screen($small)
		position: relative
		padding-top: 20px
		height: auto

.nav--category
	display: inline-block
	+size(25%, 100%)
	cursor: pointer

	.cell-hover
		//background-color: rgba(0,0,0,0.2)
		transition: all 500ms

	&.all
		background: url('#{$imagePath}categories/nav_cat_all.jpg') no-repeat center center
		background-size: cover
	&.landscapes
		background: url('#{$imagePath}categories/nav_cat_landscape.jpg') no-repeat center center
		background-size: cover
	&.studio
		background: url('#{$imagePath}categories/nav_cat_studio.jpg') no-repeat center center
		background-size: cover
	&.travel
		background: url('#{$imagePath}categories/nav_cat_travel.jpg') no-repeat center center
		background-size: cover

	.no-touch &
		&:hover
			.cell-hover
				opacity: 1 !important
			p
				transform: translateY(0)
			.vert-rule
				transform: translateY(0)

	.touch &
		.cell-hover
			opacity: 1 !important
		p
			transform: translateY(0) !important
		.vert-rule
			transform: translateY(0) !important

	+max-screen($small)
		+size(100%,150px)
		display: block
		border-bottom: 1px rgba($white,0.2) solid
		.cell-hover
			opacity: 1 !important
		p
			transform: translateY(0) !important
			top: 42%
		.vert-rule
			display: none


.lrg-half
	+min-screen($medium)
		width: 75%
		max-width: 600px







